body {
    background-color: darkcyan;
}

.card-wrapper {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: solid;
    border-radius: 12px;
    width: 300px;
    height: 330px;
}

.card-wrapper .card-top img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 300px;
}

.card-wrapper .card-mid {
    height: 135px;
}

.card-wrapper .card-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-wrapper .card-bot .col-1 {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper .card-bot .col-2 {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper .card-bot .col-3 {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}