body {
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: -260px -480px, 720px 350px;
    background-repeat: no-repeat;
    font-family: "Kumbh Sans";
}

/*#top-bub {
    object-position: -550px -550px;
}

this second image giving me trouble, can't get it where I want it----
#bot-bub {
    object-position: 500px 550px;
} */

.card-container {
    /* This is a flexbox container containing 3 stacked rows:
     "card-top", "card-mid" and "card-bot" */
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -150px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 12px;
    width: 300px;
    height: 330px;
}
/* -------------------begin "card-top" section-------------------- */
/* This centers the portrait photo */
.card-container .card-top {
    text-align: center;
}

/* The blue background pattern for card */
.card-container .card-top #pat {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 300px;
}

/*--Portrait photo --*/
.card-container .card-top #por {
    border: solid;
    border-width: 6px;
    border-color: white;
    border-radius: 100%;
    margin-top: -60px;
}
/*-------------------end "card-top" section---------------*/

/*-----------------begin "card-mid" section-------------------*/
/* Name and age text (general font styles and 
height of mid section */
.card-container .card-mid {
    height: 135px;
    text-align: center;
    /*font-family: "Kumbh Sans";*/
    font-size: 18px;
    font-weight: 600;
    border-bottom: solid lightgrey;
}

/* specific styles for age text */
.card-container .card-mid .name-age span {
    color: grey;
    font-weight: normal;
    padding-left: 6px;
}

/* specific styles for place text */
.card-container .card-mid .place {
    margin-top: 6px;
    font-size: 12px;
    color: grey;
}
/*------------------end "card-mid" section-------------*/

/*----------------begin "card-bot" section-------------*/
.card-container .card-bot {
    /* "card-bot" section uses CSS grid layout with 
    3 columns and two rows format */
    display:grid;
    grid-template-columns: auto auto auto;
}

/* first row containing 3 columns for numbers */
.card-container .card-bot .num-item {
    text-align: center;
    /*font-family: "Kumbh Sans";*/
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

/* second row containing 3 columns for text */
.card-container .card-bot .text-item {
    text-align: center;
    /*font-family: "Kumbh Sans";*/
    font-size: 10px;
    color: grey;
    padding-top: 6px;
    padding-bottom: 20px;
}
/*-----------------end "card-bot" section--------------*/

.attribution { 
    position: relative;
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}


/*--responsive--*/
@media (max-width: 375px) {
    body {
        overflow-y: scroll;
    }

    .card-container {
        position: absolute;
        object-position: center;
    }
}
